* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Space Mono";
  font-size: 15px;
}

.container {
  padding: 22px 22px;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

/* 404 NOT FOUND part */
.not-found {
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
}

/* container or box whcih contain scarecrow image */

.image {
  display: flex;
  padding: 49px;
  justify-content: center;
}

/* scarecrow image */

img {
  width: 286px;
}

/* bad news for you part */

.bad-news {
  font-weight: bold;
  font-size: 3rem;
  word-spacing: -0.1em;
  color: #333333;
}

/* Page you looking for not available part */

.small-text {
  font-size: 1.3rem;
  color: #4f4f4f;
  margin-top: 37px;
}

.button {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 220px;
  margin-top: 70px;
}

/* created by username part */
span p {
  font-family: "Montserrat", sans-serif;
  color: #bdbdbd;
  font-size: 0.8125rem;
  text-align: center;
}
